@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --background-color: #111729;
    --border-color: #3662E3;
    --input-background: #000000;
    --input-text: #364153;
    --qrcode-button-color: #F2F5F9;
    --circle-color: #36415399;
}
*{
    padding: 0;
    margin: 0;
    font-family: Outfit;
}
#body{
    background-color: var(--background-color);
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#twoSquares{
    position: absolute;
    width: 40vw;
    height: auto;
    left: 55%;
    top: 10%;
    z-index: -1;
}
#centerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#logo{
    width: 30vh;
    height: auto;
}
#inputSegment{
    margin-top: 3vh;
    width: 50vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
    border-radius: 2vmin;
    background-color: var(--input-background);
}
#inputBox{
    flex-grow: 2;
    border: none;
    height: 100%;
    border-radius: 2vmin;
    background-color: inherit;
    padding: 0 3% 0 5%;
    color: var(--qrcode-button-color);
    font-size: 1rem;
}
#inputBox::placeholder{
    color: var(--input-text);
    font-weight: bold;
    font-size: 1rem;
}
#inputBox:focus{
    outline: none;
}
#submitButton{
    font-size: 1rem;
    color: var(--qrcode-button-color);
    width: 10vw;
    margin-right: 1%;
    height: 80%;
    border: transparent;
    border-radius: 1vmin;
    background-color: var(--border-color);
}
#topNav{
    display: none;
}
button:hover{
    cursor: pointer;
}
#qrcodeStuffWrapper{
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  
}
#qrcodeWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 20vw;
    background-color: white;
    border-radius: 4vmin;
    margin-top: 20vh;
}
#gap{
    height: 15vh;
    background-color: transparent;
}
#buttonWrapper, #largeCircle{
    display: none;
}
#buttonWrapper{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
}
.bottomButton{
    width: 15vw;
    height: 10vh;
    background-color: var(--border-color);
    border-radius: 3vmin;
    border: none;
    color: #fff;
    font-size: 1rem;
}
.bottomBottom:first-of-type(){
    background-color: red;
}
#largeCircle{
    width: 25vw;
    height: 25vw;
    background-color: var(--circle-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    border-radius: 50%;
    z-index: -1;
}
#qrcode{
    width: 15vw;
    
}
#topNav{
    margin: 2vh 0 0 2vh;
}
